* {
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	text-decoration-skip-ink: auto;
	font: inherit;
	font-family: var(--ff);
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
html {
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
	&:focus-within {
		scroll-behavior: smooth;
	}
}
a {
	text-decoration: none !important;
	color: white !important; 
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	padding: 0;
	background-color: var(--theme);
	overflow-x: hidden;
}
img {
	max-width: 100%;
	display: block;
}



.dark-theme {
	--maincolor: var(--dark-maincolor);
	--text-color: var(--dark-text-color);
	--text2-color: var(--dark-2text-color);
	--text3-color: var(--dark-3text-color);
	--gradient-h1: var(--dark-gradient-h1);
	--seccolor: var(--dark-seccolor);
	--seccolor-2: var(--dark-seccolor-2);
	--neutralcolor: var(--dark-neutralcolor);
	--neutralcolor-2: var(--dark-neutralcolor-2);

	--career-bg: var(--dark-career-bg);
	--description-bg: var(--dark-description-bg);
	--gradient-h1skills: var(--dark-gradient-h1skill);

	--form-button-hover: var(--dark-form-button-hover); 
	--form-info-color: var(--dark-form-info-color); 
	--form-theme: var(--dark-form-theme-color);

	--bg-color-scrollbar: var(--dark-bg-color-scrollbar); 

	--display-picture-light: none;
	--display-picture-dark: block;
	
	--theme: var(--dark-theme);
}


.light-theme {
	--maincolor: var(--light-maincolor);
	--text-color: var(--light-text-color);
	--text2-color: var(--light-2text-color);
	--text3-color: var(--light-3text-color);
	--seccolor: var(--light-seccolor);
	--seccolor-2: var(--light-seccolor-2);
	--neutralcolor: var(--light-neutralcolor);
	--neutralcolor-2: var(--light-neutralcolor-2);

	--career-bg: var(--seccolor);
	--description-bg: var(--maincolor);
	--gradient-h1: var(--light-gradient-h1);
	--gradient-h1skills: var(--light-gradient-h1);

	--form-button-hover: var(--light-form-button-hover); 
	--form-info-color: var(--light-form-info-color); 
	--form-theme: var(--light-form-theme-color);

	--color-scrollbar: var(--light-color-scrollbar); 
	--bg-color-scrollbar: var(--light-bg-color-scrollbar); 

	--display-picture-light: block;
	--display-picture-dark: none;

	--theme: var(--light-theme);
}



::-webkit-scrollbar{
	width: 10px;
	background: var(--neutralcolor-2);
  }
  ::-webkit-scrollbar-button{
	width:8px;
	height: 5px;
  }
  ::-webkit-scrollbar-track{
	background:var(--bg-color-scrollbar);
	-webkit-border-radius: 1px;
	border-radius: 1px;
  }
  ::-webkit-scrollbar-thumb{
	background: var(--neutralcolor-2);
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
	  background: var(--neutralcolor-2); 
  }


@media (min-width: 2000px) {
	::-webkit-scrollbar{
		width: 20px;
	}
	:root {
		--fs-300: 2.8rem;
		--fs-400: 3.2rem;
		--fs-600: 4.2rem;
		--fs-800: 6.7rem;
	}
}


@media (min-width: 1440px) {
	:root {
		--fs-300: 1.3rem;
		--fs-400: 2.5rem;
		--fs-600: 3.2rem;
		--fs-800: 5.7rem;
	}
}

@media (max-width: 950px) {
	:root {
		--fs-300: .8rem;
		--fs-400: 1rem;
		--fs-600: 2.2rem;
		--fs-800: 3.7rem;
	}
}

@media (max-width: 675px) {
	:root {
		--fs-300: .8rem;
		--fs-400: 1rem;
		--fs-600: 2rem;
		--fs-800: 3.7rem;
	}
}


@media (max-width: 560px) {
	:root {
		--fs-300: .8rem;
		--fs-400: 1rem;
		--fs-600: 1.4rem;
		--fs-800: 3.7rem;
	}
}

@media (max-width: 320px) {
	:root {
		--fs-300: .6rem;
		--fs-400: .8rem;
		--fs-600: 1.2rem;
	}
}
