:root{
    /* DARK THEME VARIABLES */
    --dark-maincolor:#71E6E7;
    --dark-neutralcolor: #04c4cc;
    --dark-seccolor:#E77371;
    --dark-text-color: #747072;
    --dark-theme: #333032;

    /* LIGHT THEME VARIABLES */
    --light-maincolor: #008EFF;
    --light-text-color: #050A30;
    --light-seccolor:#FF7100;
    --light-theme-background: #f1f1f3;

    /* GENERAL VARIABLES */

    --fs-300: 1rem;
    --fs-400:2rem;
    --fs-600: 2.50rem;
    --fs-800: 6rem;
    --ff: 'Be Vietnam Pro', sans-serif;

    --fw-300: 500;
    --fw-400: 500;
    --fw-600: 600;
    --fw-800: 600;
}
.A{
  background-color: white;
}

.color8{
  background-color: var(--light-theme-background);
}

.color7{
  background-color: var(--light-seccolor);
  color: white;
}

.color6{
  background-color: var(--light-text-color);
  color: white;
}

.color5{
  background-color: var(--light-maincolor);
}

.color4{
  background-color: var(--dark-theme);
  color: white;
}

.color3{
  background-color: var(--dark-seccolor);
}

.color2{
  background-color: var(--dark-neutralcolor);
}

.color1{
  background-color: var(--dark-maincolor);
}

.colores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.colores div div{
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* DESKTOP VARIABLES */

.home-scilinder{
  background-color: var(--dark-maincolor);
  opacity: 100%;
  position: relative;
  border-radius: 500px;
  top: 2rem;
  height: 26rem;
  right: 2.6vw;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  font-weight: var(--fw-800);
}

*,
*::before,
*::after {
box-sizing: border-box;

}

*{
    margin: 0;
    list-style: none;
    text-decoration-skip-ink: auto;
    font: inherit;
    font-family: var(--ff);

}

html:focus-within {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  background-color: var(--dark-theme);
}

img,
picture {
  max-width: 100%;
  display: block;
}

header{
  display: grid;
  grid-template-columns: 2fr 3.3fr;
  position: relative;
  align-items: center;
  height: 6rem;
  width: 100%;
  margin-bottom: 1rem;
  background: linear-gradient(#1a1a1b, var(--dark-theme));
}

header a{
  display: inline-block;
  padding: 0;
}
header div{
  display: flex;
  align-items: center;
}
header h2{
  color: white;
  display: inline-block;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  margin-left: 1rem;
}

header h2 span{
  color: var(--dark-maincolor);
}

.logo{
  width: 5rem;
}

.navbar{
  position: relative;
 height: 100%;
 margin-right: 3rem;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}



.hire-me{
  color: var(--dark-maincolor);
}


#toogle{
  background-color: white;
  position: relative;
  width: 70px;
  height: 30px;
  box-shadow: inset 4px 4px 6px #cecece
              inset -4px -4px 6px #fff;
  cursor: pointer;
  border-radius: 25px;

}

.toogle-button{
  position: absolute;
  top: -10px;
  left: -8px;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  transform: scale(.7);
  background-color: rgb(61, 60, 60);
  box-shadow: inset 3px 3px 8px #c4c4c4
              -3px -3px 8px #fff;
  transition: all 200ms;
}

#toogle.active .toogle-button{
  transition: all 200ms ;
  left: 28.7px;
}

.text-theme{
  position: absolute;
  top: 2.5rem;
  width: 6.5rem;
  color: white;
  right: -1.3rem;
  font-size: var(--fs-300);
}

.home-bcilinder{
  text-align: left;
  position:relative;
  background-color: var(--dark-seccolor);
  height: 30rem;
  border-radius: 500px;
  right: 30vw;
}

.home-scilinder{
  background-color: var(--dark-maincolor);
  opacity: 100%;
  position: relative;
  border-radius: 500px;
  top: 2rem;
  height: 26rem;
  right: 2.6vw;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  font-weight: var(--fw-800);
}

.home--contenido{
  height: 100%;
  display: flex;
  align-items: center;
}

.home--contenido h1{
  font-size: var(--fs-600)  ;
  
  width: 75%;

}


.home-description{
  font-size: var(--fs-300);
  color: var(--dark-text-color);
}


.home-here-button{
  width: 14rem;
  height: 3rem;
  background-color: white;
  text-transform: uppercase;
  border-radius: .5rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-800);
  border: 0;
  cursor: pointer;
  transition: all 400ms;
}


.home-here-button:hover{
  background-color: black;
  color: white;
  transition: all 400ms;
}

footer{
  height: 15rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(var(--dark-theme), #1a1a1b);

}

.footer--social-links{
  display: flex;
  align-items: center;
}


.footer--logo img{
  width: 5rem;
}

footer div a img {
  width: 2rem;
}

#git-image{
  width: 1.6rem;
  padding: .2rem;
}

.copy{
  color: white;
}

/* TENER IMAGENES DE DISTINTO TAMAÑO */

@media(max-width: 950px){
  :root{
    --fs-300: .8rem;
    --fs-400:1.5rem;
    --fs-600: 2.2rem;
    --fs-800: 3.7rem;
    
  }

  .home-bcilinder{
    right: 27vw;
  }
  
  header div h2{
    font-weight: var(--fs-400);
  }

  .navbar--links{
    font-size: var(--fs-300);
  }

  .logo{
    width: 4rem;
  }

  .home-bcilinder{
    width: 110vw;
    right: 33vw;
  }

  .home-scilinder{
    right: 4vw;
  }

  .home-here-button{
    font-size: var(--fs-300);
  }
}

/* TENER IMAGENES DE DISTINTO TAMAÑO */

@media(max-width: 675px){
  :root{
    --fs-300: .8rem;
    --fs-400:1rem;
    --fs-600: 2rem;
    --fs-800: 3.7rem;
  }
  
  .home-bcilinder{
    background: transparent;
  }

  .home-scilinder{
    background-color: transparent;
  }

  .home--contenido{
    color: white;
  }

  .home-description{
    color: white;
  }

  .home-here-button{
        width: 11rem;
    height: 2.5rem;
  }

  header h2{
    display: none;
  }
/*
  .menu{
    position: absolute;
     display: none;
    flex-direction: column;
    width: 60%;
    right: 0;
  } */

  /* .navbar--links{
    padding: 2rem;
    background-color: ;
  } */

  .letter-p{
    color: var(--dark-seccolor);
    text-shadow: -3px -3px var(--dark-maincolor);
  }

  .home--contenido h1{
    font-size: var(--fs-600);
  }

  .key-bracket{
    color: var(--dark-text-color);
  }
  
  .rectagulos-decoracion{
    display: flex;
    width: 350px;
    height: 350px;
  }

  .rectangulo{
    position: absolute;
    width: 160px;
    height: 260px;
    background-color: white;
    border-radius: 6px;
    z-index: -10;
    opacity: 40%;

  }

  .rectangulo1{
    top: 10rem;
    right: -5rem;
    background-color: var(--dark-maincolor);
  }

  .rectangulo2{
    top: 14rem;
    right: 3rem;
    background-color: var(--dark-seccolor);
    z-index: -5;
  }

  .rectangulo3{
    top: 21rem;
    right: -0.5rem;
    background-color: var(--dark-maincolor);
  }
  
}


@media(max-width: 560px){
  :root{
    --fs-300: .8rem;
    --fs-400:1rem;
    --fs-600: 1.4rem;
    --fs-800: 3.7rem;
  }
  
  .home-scilinder{
    grid-template-columns: 1fr 1.9fr;
    right: -9vw;
  }

  .home--contenido{
    width: 100%;
  }

  .home-description{
    margin-top: .5rem;
  }

  .home-here-button{
    margin-top: .6rem;
  }

  .letter-p{
    text-shadow: -2px -2px var(--dark-maincolor);
  }
}