:root {

	
	// DARK THEME VARIABLES
	--dark-maincolor: #71E6E7 ; 
	--dark-text-color: #747072;
	--dark-2text-color: rgb(0, 0, 0);
	--dark-3text-color: #ffff;
	--dark-seccolor: #E77371;
	--dark-seccolor-2: #c97270;
	--dark-neutralcolor: #04c4cc;
	--dark-neutralcolor-2: #609C9C;

	--dark-gradient-h1: radial-gradient(circle at left, var(--maincolor), var(--theme));
	--dark-career-bg: linear-gradient(to top, var(--seccolor-2),var(--seccolor-2), var(--theme));
	--dark-description-bg: linear-gradient(to bottom, var(--neutralcolor-2),var(--neutralcolor-2), var(--theme));
	--dark-gradient-h1skills: radial-gradient(circle at right, var(--maincolor), var(--theme));

	--dark-form-button-hover: rgb(245, 245, 245); 
	--dark-form-info-color: black;
	--dark-form-theme-color: #292728;

	--dark-bg-color-scrollbar: #444143; 
	
	--dark-theme: #333032;
	
    // LIGHT THEME VARIABLES
	--light-maincolor: #008EFF;
	--light-text-color: #050A30;
	--light-2text-color: #050A30;
	--light-3text-color: #050A30;
	--light-seccolor: #FF7100;
	--light-seccolor-2: #FF7100;
	--light-neutralcolor: #fd7e16;
	--light-neutralcolor-2: #008EFF;

	--light-gradient-h1: none;

	--light-form-button-hover: black; 
	--light-form-info-color: white; 
	--light-form-theme-color: rgb(231, 229, 230);

	--light-bg-color-scrollbar: #cfc9cd; 



	--light-theme: #f1f1f3;
	
    // MAIN VARIABLES
	--maincolor: var(--dark-maincolor);
	--text-color: var(--dark-text-color);
	--text2-color: var(--dark-2text-color);
	--text3-color: var(--dark-3text-color);
	--seccolor: var(--dark-seccolor);
	--seccolor-2: var(--dark-seccolor-2);
	--neutralcolor: var(--dark-neutralcolor);
	--neutralcolor-2: var(--dark-neutralcolor-2);

	--gradient-h1: var(--dark-gradient-h1);
	--career-bg:var(--dark-career-bg);
	--description-bg:var(--dark-description-bg);
	--gradient-h1skills: var(--dark-gradient-h1skills);

	--form-button-hover: var(--dark-form-button-hover); 
	--form-info-color: var(--dark-form-info-color); 
	--form-theme: var(--dark-form-theme-color);

	--bg-color-scrollbar: var(--dark-bg-color-scrollbar); 

	--theme: var(--dark-theme);
	--fs-300: 1rem;
	--fs-400: 2rem;
	--fs-600: 2.50rem;
	--fs-800: 6rem;
	--fs-1000: 7.5rem;
	--ff: 'Be Vietnam Pro', sans-serif;
	--fw-300: 500;
	--fw-400: 500;
	--fw-600: 600;
	--fw-800: 600;
	
	--animation-bar-delay: .5s;
	--amount-filled: 80%;
}
