:root{
    /* ABOUT ME */
    --animation-bar-delay: .5s;
    --amount-filled: 80%;


    /* DARK THEME VARIABLES */
    --dark-maincolor:#71E6E7;
    --dark-text-color: #747072;
    --dark-2text-color: rgb(0, 0, 0);
    --dark-3text-color: #ffff;
    --dark-seccolor:#E77371;
    --dark-neutralcolor: #04c4cc;
    --dark-theme: #333032;

    /* LIGHT THEME VARIABLES */
    --light-maincolor: #008EFF;
    --light-text-color: #050A30;
    --light-2text-color: #050A30;
    --light-3text-color: #050A30;
    --light-seccolor:#FF7100;
    --light-neutralcolor: #fd7e16;
    --light-theme: #f1f1f3;

    /* GENERAL VARIABLES */

    --maincolor: var(--dark-maincolor);
    --text-color: var(--dark-text-color);
    --text2-color: var(--dark-2text-color);
    --text3-color: var(--dark-3text-color);
    --seccolor: var(--dark-seccolor);
    --neutralcolor: var(--dark-neutralcolor);
    --theme: var(--dark-theme);

    --fs-300: 1rem;
    --fs-400:2rem;
    --fs-600: 2.50rem;
    --fs-800: 6rem;
    --ff: 'Be Vietnam Pro', sans-serif;

    --fw-300: 500;
    --fw-400: 500;
    --fw-600: 600;
    --fw-800: 600;
}



.home-scilinder{
  background-color: var(--maincolor);
  opacity: 100%;
  position: relative;
  border-radius: 500px;
  top: 2rem;
  height: 26rem;
  right: 2.6vw;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  font-weight: var(--fw-800);
}

*,
*::before,
*::after {
box-sizing: border-box;

}

*{
    margin: 0;
    list-style: none;
    text-decoration-skip-ink: auto;
    font: inherit;
    font-family: var(--ff);

}

html {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  background-color: var(--theme);
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

header{
  display: grid;
  grid-template-columns: 2fr 3.3fr;
  position: relative;
  align-items: center;
  height: 6rem;
  width: 100%;
  margin-bottom: 1rem;
}

header a{
  display: inline-block;
  padding: 0;
}
header div{
  display: flex;
  align-items: center;
}
header h2{
  color: white;
  display: inline-block;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  color: var(--text3-color);
  margin-left: 1rem;
}

header h2 span{
  color: var(--maincolor);
}

.dark-theme{
  --maincolor: var(--dark-maincolor);
  --text-color: var(--dark-text-color);
  --text2-color: var(--dark-2text-color);
  --text3-color: var(--dark-3text-color);
  --seccolor: var(--dark-seccolor);
  --neutralcolor: var(--dark-neutralcolor);
  --theme: var(--dark-theme);
}

.light-theme{
  --maincolor: var(--light-maincolor);
  --text-color: var(--light-text-color);
  --text2-color: var(--light-text-color);
  --text3-color: var(--light-text-color);
  --seccolor: var(--light-seccolor);
  --neutralcolor: var(--light-neutralcolor);
  --theme: var(--light-theme);
}


.logo{
  width: 5rem;
}

.navbar{
  position: relative;
 height: 100%;
 margin-right: 3rem;
}

.navbar--links{
  color: var(--text3-color);
  font-size: var(--fs-300);
  position: relative;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}




.underline::after {
  content: '';
  position: absolute;
  top: 100%;
  border-bottom: 0.225em solid var(--text3-color);
  transition: all 0.35s;
}

.underline--hire::after{
  border-bottom: 0.225em solid  var(--maincolor);

}

.underline:hover::after {
  transition: all 0.35s;
}


.underline::after {
  right: 50%;
  left: 50%;
}
.underline:hover::after {
  right: 0;
  left: 0;
}

.toggle {
  cursor: pointer;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  right: 1rem;
}



.linea-toggle {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--maincolor);
  border-radius: 5px;
  transition: all .6s;
}

.linea-toggle:first-child {
  transform: translateY(-10px) translateX(-5px);
  /* width: 40px; */
  transition-delay: 0s;
}

.toggle .linea-toggle:nth-child(2) {
  transition-delay: .12s;
}

.linea-toggle:last-child {
  transform: translateY(10px) translateX(-5px);
  /* width: 20px; */
  transition-delay: 0s;
}

.toggle.activate .linea-toggle:first-child {
  transform: translateY(0) translateX(0) rotate(45deg);
  width: 36px;
  height: 3px;
  transition-delay: .1s;
}

.toggle.activate .linea-toggle:nth-child(2) {
  transform: translateX(110px);
  transition-delay: 0s;
}

.toggle.activate .linea-toggle:last-child {
  transform: translateY(0) translateX(0) rotate(314deg);
  width: 36px;
  height: 3px;
  transition-delay: .1s;
}

.bi-brightness-high-fill, .bi-moon{
  transition: all 600ms;
  color: white;
  padding: 8px;
  border-radius: 7px;
}

.bi-moon{
  color: black;
}

.bi-brightness-high-fill:hover{
  background-color: rgb(75, 74, 74);
  transition: all 200ms;
}

.bi-moon:hover{
  background-color: rgb(226, 223, 223);
  transition: all 200ms;

}

i{
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 600ms;
}

.hire-me{
  color: var(--maincolor);
}


.text-theme{
  position: absolute;
  top: 2.5rem;
  width: 6.5rem;
  color: white;
  right: -1.3rem;
  font-size: var(--fs-300);
}

.home-bcilinder{
  text-align: left;
  position:relative;
  background-color: var(--seccolor);
  height: 30rem;
  border-radius: 500px;
  right: 30vw;
}

.home-scilinder{
  background-color: var(--maincolor);
  opacity: 100%;
  position: relative;
  border-radius: 500px;
  top: 2rem;
  height: 26rem;
  right: 2.6vw;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  font-weight: var(--fw-800);
}

.home--content{
  height: 100%;
  display: flex;
  align-items: center;
}

.home--content h1{
  font-size: var(--fs-600)  ;
  color: var(--text2-color);
  width: 75%;

}


.home-description{
  font-size: var(--fs-300);
  color: var(--text-color);
}


.home-here-button{
  width: 14rem;
  height: 3rem;
  background-color: white;
  text-transform: uppercase;
  border-radius: .5rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-800);
  border: 0;
  cursor: pointer;
  transition: all 400ms;
}


.home-here-button:hover{
  background-color: black;
  color: white;
  transition: all 400ms;
}

footer{

  width: 100vw;
  height: 15rem;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
}

.footer--social-links{
  display: flex;
  align-items: center;
  color: var(--text-color);
}


.footer--logo img{
  width: 5rem;
}

footer div a img {
  width: 2rem;
}

#git-image{
  width: 1.6rem;
  padding: .2rem;
}

.copy{
  color: var(--text3-color);
  font-size: var(--fs-300);
}


@media(min-width: 2000px){
  :root{
    --fs-300: 2.8rem;
    --fs-400:3.2rem;
    --fs-600: 4.2rem;
    --fs-800: 6.7rem;
    
  }

  header{
    height: 12rem;
  }


  i{
    font-size: 3rem;
  }


  .home-bcilinder{
    height: 52rem;
  }

  .home-scilinder{
    height: 48rem;
    right: 1.7vw;
  }

  .home-here-button{
    width: 25rem;
    height: 6rem;
    border-radius: 1.4rem;
  }

  .logo, .footer--logo img{
    width: 9rem;
  }

  footer{
    position: absolute;
    bottom: 0;
  }

  footer div a img{
    width: 4rem;
  }

}

@media(min-width: 1440px){
  :root{
    --fs-300: 1.3rem;
    --fs-400:2.5rem;
    --fs-600: 3.2rem;
    --fs-800: 5.7rem;
    
  }

  header{
    height: 8rem;
  }


  i{
    font-size: 2rem;
  }


  .home-bcilinder{
    height: 35rem;
  }

  .home-scilinder{
    height: 31rem;
    right: 1.9vw;
  }

  .home-here-button{
    width: 15rem;
    height: 4rem;
    border-radius: .6rem;
  }

  .logo, .footer--logo img{
    width: 6.5rem;
  }

  footer div a img{
    width: 3rem;
  }


}

@media(max-width: 950px){
  :root{
    --fs-300: .8rem;
    --fs-400:1.5rem;
    --fs-600: 2.2rem;
    --fs-800: 3.7rem;
    
  }
  

  .home-bcilinder{
    right: 27vw;
  }
  
  header div h2{
    font-weight: var(--fw-400);
  }

  .logo, .footer--logo{
    width: 4rem;
  }

  .home-bcilinder{
    width: 110vw;
    right: 33vw;
  }

  .home-scilinder{
    right: 4vw;
  }

}



@media(max-width: 675px){
  :root{
    --fs-300: .8rem;
    --fs-400:1rem;
    --fs-600: 2rem;
    --fs-800: 3.7rem;
  }
  
  .home-bcilinder{
    background: transparent;
  }

  .home-scilinder{
    background-color: transparent;
  }


  .home-description{
    color: var(--text3-color);
  }

  .home--content h1{
    color: var(--text3-color);
 
  }

  .home-here-button{
    width: 11rem;
    height: 2.5rem;
    background-color: var(--text3-color);
    color: var(--theme);
  }

  .home-here-button:hover{
    background-color: var(--maincolor);
    color: black;
  }

  header h2{
    display: none;
    color: var(--text3-color);
  }


  .letter-p{
    color: var(--seccolor);
    text-shadow: -3px -3px var(--maincolor);
  }


  .key-bracket{
    color: var(--text-color);
  }
  
  .rectangles-decoration{
    position: relative;
    bottom: 37rem;
    z-index: -5;
  }

  .rectangle{
    position: absolute;
    width: 160px;
    height: 260px;
    background-color: white;
    border-radius: 6px;
    z-index: -10;
    opacity: 40%;
    overflow-x: hidden;
  }

  .rectangle1{
    top: 10rem;
    right: -5rem;
    background-color: var(--maincolor);

  }

  .rectangle2{
    top: 14rem;
    right: 3rem;
    background-color: var(--seccolor);
    z-index: -5;
  }

  .rectangle3{
    top: 21rem;
    right: -0.5rem;
    background-color: var(--maincolor);
  }
  
}


@media(max-width: 560px){
  :root{
    --fs-300: .8rem;
    --fs-400:1rem;
    --fs-600: 1.4rem;
    --fs-800: 3.7rem;
  }

  .toggle{
    display: flex;
    z-index: 15;
  }

  .menu{
    display: none;
  }

  .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 6rem;
    width: 100vw;
    height: 15rem;
    background-color: var(--theme);
    padding: 0;
    align-items: center;
    z-index: 10;
    transition: all 300ms;
  } 

  .menu > li > .navbar--links{
    
    margin: 1rem;
  }

  .menu > li:nth-child(1){
    padding-top: 1.5rem;
  }

  .menu > li:last-child{
    padding-bottom: 1.5rem;
  }

  .menu-column{
    bottom: -9rem;
    transition: all 300ms;
  }
  
  .home-scilinder{
    grid-template-columns: 1fr 1.9fr;
    right: -9vw;
  }

  .home--content{
    width: 100%;
  }

  .home-description{
    margin-top: .5rem;
  }

  .home-here-button{
    margin-top: .6rem;
  }

  .letter-p{
    text-shadow: -2px -2px var(--maincolor);
  }


  .logo{
    padding: 10px;
    padding-left: 1.5rem;
    width: 80px;
  }

  .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .menu_desplegable{
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  header{
    grid-template-columns: 2fr 1.2fr;
  }

}
  @media(max-width: 320px){
    :root{
      --fs-300: .6rem;
      --fs-400:.8rem;
      --fs-600: 1.2rem;
    }
    .home--content{
      width: 70vw;
    }

    .home-here-button{
      width: 100px;
      height: 30px;
    }


  }






















  /* ABOUT ME */

  .body_aboutme{
    margin: 0 20%;
    position: relative;
  }
  
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32rem;
  width: 100%;
  /* background-color: red; */
  /* overflow-x: hidden; */
}

.barra{
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100px;
  height: 300px;
  background-color: #cf9e88;
  border-radius: 5px;
  opacity: 100%;
  overflow: hidden;
  
}

.barra1{
  background-color: #80c8e7;

}

.barra2{
  background-color: #d4c973;
}

.barra3{
  background-color: #a5add3;
}

.barra4{
  background-color: #6aa2d6;
}

.barra img{
  position: absolute;
  left: 11%;
  bottom: 32%;
  width: 5rem;
  z-index: 10;
  border-radius: 4px;
}



/* waves */
.fillcontainer {

  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow-x: hidden; */
}

/* SI QUEREMOS CAMBIAR EL COLOR DEL SVG SUSTITUIMOS EN EL ATRIBUTO fill LO QUE HAY DESPUES DEL "%23%"(QE ES EQUIVALENTE A "#") POR UN COLOR HEX */

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23D3602A'/%3E%3C/svg%3E");
  color: #04c4cc;
  position: absolute;
  width: 200%;
  height: 9%;
  margin-bottom: 1rem;
  animation: wave 4s -3s linear infinite, waveheight 2.5s forwards ;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  z-index: -1;
}

.container > .barra:nth-child(2) > div > .wave{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%232C96C4'/%3E%3C/svg%3E");
}

.container > .barra:nth-child(3) > div > .wave{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23cab301'/%3E%3C/svg%3E");
}


.container > .barra:nth-child(4) > div > .wave{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23747ca0'/%3E%3C/svg%3E");
}

.container > .barra:nth-child(5) > div > .wave{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%231261aa'/%3E%3C/svg%3E");
}


.wave:nth-of-type(2) {

  animation: wave 7s -3s linear reverse infinite, waveheight 2.5s forwards  ;
  opacity: 0.5;
}

.wave:nth-of-type(3) {

  animation: wave 9s linear reverse infinite, waveheight 2.5s forwards  ;
  opacity: 0.5;
}

.wave:nth-of-type(4) {

  animation: wave 20s -1s linear infinite, waveheight 2.5s forwards  ;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(50%);}
    50% {transform: translateX(-50%);}
    100% {transform: translateX(-100%);}
}

@keyframes waveheight{
  0% {top: 0rem;}
  50%{top: -.3rem;}
  100%{top: -.8rem;}
}


.fillcontainer, .fillcont1{
  border-radius: 0 0 5px 5px;
  width: 100%;
  background-color: #D3602A;
  opacity: 100%;
  animation: rellenar 1.5s forwards var(--animation-bar-delay);
  z-index: 1;
  

}


.fillcont2{
  --animation-bar-delay: .8s;
  --amount-filled: 86%;
  background-color: #2C96C4;

  animation: rellenar 1.5s forwards var(--animation-bar-delay);
  

}

.fillcont3{
  --animation-bar-delay: 1.2s;
  --amount-filled: 79%;
  background-color: #cab301;
  

  animation: rellenar 1.5s forwards var(--animation-bar-delay);

}

.fillcont4{
  --animation-bar-delay: 1.5s;
  --amount-filled: 92%;
  background-color: #747ca0;
  animation: rellenar 1.5s forwards var(--animation-bar-delay);
  

}

.fillcont5{
--animation-bar-delay: 1.8s;
--amount-filled: 75%;
background-color: #1261aa;



animation: rellenar 1.5s forwards var(--animation-bar-delay);

}


@keyframes rellenar{
  0%{
      height: 0%;
  }
  100%{
      height: var(--amount-filled);
  }
}

